<div class="container">
  <div class="bg-light row">
    <div class="col-md-12 h-100">
      <div class="card my-4 bg-dark">
        <div class="card-body">
          <img src=" ../../assets/images/logo.fw.png" class="img-fluid mx-auto d-block">
          <ul class="text-center list-inline py-3 mt-2 mb-0">
            <li class="list-inline-item mx-1" *ngIf="!getLogged()">
              <a routerLink="/login" class="btn text-white" [ngClass]="getRouteName()==='/login'?'btn-outline-info':'btn-info'">Login</a>
                </li>
            <li class="list-inline-item mx-1" *ngIf="!getLogged()">
              <a routerLink="/adduser" class="btn text-white" [ngClass]="getRouteName()==='/adduser'?'btn-outline-info':'btn-info'">Create Account</a>
                </li>
            <li>
            </li>
            
            <li class="list-inline-item mx-1" *ngIf="getLogged()">
              <a routerLink="/" class="btn btn-info text-white" (click)="loggOut()">Loggout</a>
                </li>
          </ul>
        </div>
      </div>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>